
.header {
  position:sticky;
  top: 0;
}

.container {
  background-color: aliceblue;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100vh;
  position: sticky;
}



.thumbnav {
  align-items: center;
  justify-content: center;
  position:sticky;
  bottom: 0;
  overflow: hidden;
}
